:root {
  --upper: uppercase;
  --maincolor: #d91d2a;
  --dark-color: #111;
  --light-color: #eee;
  --second-color: #f2a223;
}
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

body {
  font-family: "Koulen", cursive;
  font-family: "Work Sans", sans-serif;
  /* background-image: url(../images/body-bg.gif); */
}

ul {
  list-style-type: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Them */

body.dark-mode {
  background-color: var(--dark-color);
  color: var(--light-color);
}
body.dark-mode a {
  color: var(--light-color);
}
body.dark-mode nav .links .menu .subMenu {
  background-color: var(--light-color);
}
body.dark-mode nav .links .menu .subMenu li a {
  color: var(--dark-color);
}
body.dark-mode .watch-movie .watch {
  background-color: #333;
}
body.dark-mode button {
  background-color: transparent;
  color: var(--light-color);
  margin-left: 10px;
  border: none;
}
body.dark-mode #sub-navigation .search-bar {
  background-color: var(--light-color);
}

body.light-mode {
  background-color: var(--light-color);
  color: var(--dark-color);
}
body.light-mode nav .links .menu .subMenu {
  background-color: var(--dark-color);
}
body.dark-mode .cast .cast-ch {
  background-color: #333;
}

body.light-mode nav .links .menu .subMenu li a {
  color: var(--light-color);
}
body.light-mode a {
  color: var(--dark-color);
}
body.light-mode button {
  background-color: transparent;
  color: var(--dark-color);
  margin-left: 10px;
  border: none;
}
body.dark-mode section .info .table-container .movieTable td,
body.dark-mode section .info .table-container .movieTable th {
  background-color: #333;
}
body.dark-mode .story .st-head,
body.dark-mode .story .st-para {
  background-color: #333;
}

body.dark-mode .watch-trailler .head {
  background-color: #333;
}

body.dark-mode nav .links .toggle-menu:hover + ul {
  background-color: var(--light-color);
}
body.light-mode nav .links .toggle-menu:hover + ul {
  background-color: var(--dark-color);
}
body.light-mode #sub-navigation .search-bar {
  background-color: var(--dark-color);
}
body.dark-mode #sub-navigation .cont .toggle-menu:hover + ul {
  background-color: var(--light-color);
}
body.light-mode #sub-navigation .cont .toggle-menu:hover + ul {
  background-color: var(--dark-color);
}

@media (max-width: 767px) {
  body.dark-mode #sub-navigation .cont .toggle-menu:hover + ul a {
    color: var(--dark-color);
  }
  body.light-mode #sub-navigation .cont .toggle-menu:hover + ul a {
    color: var(--light-color);
  }
}

@media (max-width: 767px) {
  body.dark-mode nav .links ul a {
    color: var(--dark-color);
  }
  body.light-mode nav .links ul a {
    color: var(--light-color);
  }
}
/* End Them */

/* Start Nav */

nav {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 4;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}

nav .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
}
/* Start logo style */
.container .logo {
  font-weight: bold;
}
.container .logo span {
  color: var(--maincolor);
}
/* End logo style */

/* Start Ul stle */
nav .links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav .links .toggle-menu {
  font-size: 22px;
}
@media (min-width: 768px) {
  nav .links .toggle-menu {
    display: none;
  }
}
nav .links > ul {
  display: flex;
}
@media (max-width: 767px) {
  nav .links ul {
    display: none;
    z-index: 2;
  }
  nav .links .toggle-menu:hover + ul {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    width: 40%;
  }
  nav .links ul li a {
    padding: 15px !important;
  }
}
nav .links ul li a {
  padding: 40px 10px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  position: relative;
  z-index: 2;
  text-transform: var(--upper);
}
nav .links ul li a.active,
nav .links ul li a:hover {
  border-bottom: 1px solid var(--maincolor);
  color: var(--maincolor);
}

/* Start Sub  */
nav .links .menu .subMenu {
  position: absolute;
  width: 100px;

  display: none;
  z-index: 2;
}

nav .links .menu .subMenu li {
  padding: 5px;
}

nav .links .menu .subMenu li a {
  text-decoration: none;
  padding: 5px;
}

nav .links .menu .subMenu li a:hover {
  color: var(--maincolor);
}

nav .links .menu .subMenu::after {
  content: "";
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #000;
  height: 0;
  width: 0;
  position: absolute;
  top: -12px;
  left: calc(100% - 90%);
}

nav .links .menu:hover .subMenu {
  display: block;
}

/* End Sub */
/* End Ul stle */
/* Start nav 2 */
#sub-navigation {
  position: absolute;
  top: 16%;
  width: 100%;
}
#sub-navigation .cont {
  border-bottom: 1px dashed #413e3e;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
#sub-navigation .cont .toggle-menu {
  position: relative;
  top: 10px;
}
#sub-navigation .cont ul {
  top: 10px;
  position: relative;
}

@media (min-width: 768px) {
  #sub-navigation .cont .toggle-menu {
    display: none;
  }
}

@media (max-width: 767px) {
  #sub-navigation {
    position: absolute;
    top: 20%;
    width: 100%;
  }
  #sub-navigation .cont ul {
    display: none;
    z-index: 5;
  }
  #sub-navigation .cont .toggle-menu:hover + ul {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 50%;
  }
  #sub-navigation .cont ul li a {
    padding: 15px !important;
  }
}

#sub-navigation ul li {
  float: left;
  display: inline;
  padding-right: 23px;
}
#sub-navigation ul li a {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  transition: 0.5s;
}
#sub-navigation ul li a:hover {
  color: var(--maincolor);
}
/* Start Search Box  */
#sub-navigation .search-bar {
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 5px 20px;
}

#sub-navigation .search-bar input {
  background-color: transparent;
  flex: 1;
  border: 0;
  outline: none;
  color: var(--maincolor);
}
#sub-navigation .search-bar i {
  color: var(--maincolor);
}
::placeholder {
  color: var(--maincolor);
}

#sub-navigation .search-bar button {
  border: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #a7454c;
  cursor: pointer;
}

/* End Search Box */
/* End nav 2 */
/* End Nav */
/* Start content */

#main {
  /* border-bottom: 1px dashed #413e3e; */
  width: 100%;
  top: 25%;
  position: absolute;
}
@media (max-width: 767px) {
  #main {
    /* border-bottom: 1px dashed #413e3e; */
    width: 100%;
    top: 29%;
    position: absolute;
  }
}
.box {
  /* width: 980px; */
  width: 100%;
  padding-bottom: 21px;
  border-bottom: 1px dashed #413e3e;
}
.box .head {
  /* width: 980px; */
  padding-top: 14px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 11px;
}
.box .head h2 {
  float: left;
  display: inline;
  color: var(--second-color);
}
.box p a {
  color: var(--second-color);
  text-decoration: underline;
}
.box .movies {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px){
  .box .movies .movie {
    padding: 0 30px;
  }
}

.box .movie {
  width: 152px;
  float: left;
  padding-right: 12px;
}
.movie-image {
  float: left;
  width: 152px;
  height: 214px;
  position: relative;
}
.movie-image img {
  width: 152px;
  height: 214px;
}
.movie-image a {
  float: left;
  display: inline;
  width: 152px;
  height: 214px;
  position: relative;
  z-index: 2;
}
.cl {
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
  clear: both;
}
.play {
  position: absolute;
  top: 0;
  left: 0;
  width: 152px;
  height: 214px;
  background: url("../images/image-hover.png");
  display: block;
  z-index: 5;
  cursor: pointer;
  display: none;
}

.movie span.name {
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding-top: 160px;
  display: block;
}
.box .last {
  padding: 0;
}
.rating {
  float: left;
  width: 152px;
  margin-top: 18px;
  display: flex;
  align-items: center;

  padding-top: 8px;
}
.rating p {
  float: left;
  font-size: 10px;
  font-weight: bold;
}

.rating i {
  font-size: 10px;
  margin-left: 2px;
  position: relative;

  color: var(--second-color);
}
.comments {
  background: url("../images/comments.gif") no-repeat 0 center;
  padding-left: 12px;
  float: right;
}
/* End content */

/* Start Contact */
footer {
  padding-top: calc(100px / 2);
  padding-bottom: calc(100px / 2);
  background-image: url(../images/footer.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}

footer .container .logo a {
  color: white;
}

footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}

footer .container {
  position: relative;
}

footer .logo {
  margin-bottom: 20px;
}

footer p:not(.copyright) {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid white;
  font-size: 22px;
  width: fit-content;
  margin: 20px auto;
}

footer .social-icon i {
  padding: 10px 15px;
  cursor: pointer;
}

footer .copyright {
  margin-top: 60px;
}

footer .copyright span {
  font-weight: bold;
  color: var(--maincolor);
}

/* End Contact */
.swiper-button-next,
.swiper-button-prev {
  background-color: var(--maincolor);
  border-radius: 25%;
}
