@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    
*{
    font-family: 'Poppins', sans-serif;
margin: 0;
padding:0;
box-sizing: border-box;
scroll-behavior: smooth;



    background-color:rgb(8, 8, 8);
}
header {
    padding:20% auto;
    margin: 2% auto;
    background-color: rgb(14, 14, 14);

   
    }
    .horror {
        text-decoration: none;
        font-size: 1.9em ;
        color: #e71d36;
        
    }
  
    .content2{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .categories {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        transition: .7s ease;
    }
    .it{
        background-color: #f9fbf2;
        width: 21.2em;
        height: 1em;
        margin-left: 30px;
        margin-bottom : 200px;
       padding-bottom: 50px;
        border-radius: 30px;
        
      
       
        

    }
    .image2 img { 
        width: 100%;
        border-radius:30px;
    
        }
        .itcat a{
            text-decoration: none;
            display: flex;
            justify-content: center;
            padding-bottom: 90px;
            color:white;
                }



        .siccin3{
                    background-color: #f9fbf2;
                    width: 21.2em;
                    height: 1em;
                    margin-left: 30px;
                    margin-bottom : 200px;
                   padding-bottom: 50px;
                    border-radius: 30px;
                    
                  
                   
                    
            
          }
 .image3 img { 
 width: 100%;
 border-radius:30px;} 
 .siccin3cat a{
                        text-decoration: none;
                        display: flex;
                        justify-content: center;
                        padding-bottom: 90px;
                        color:white;
                            }


                            
                            .siccin2{
                                background-color: #f9fbf2;
                                width: 21.2em;
                                height: 1em;
                                margin-left: 30px;
                                margin-bottom : 200px;
                               padding-bottom: 50px;
                                border-radius: 30px;
                                
                              
                               
                                
                        
                            }
                            .image5 img { 
                                width: 100%;
                                border-radius:30px;
                            
                                }
                                .siccin2cat a{
                                    text-decoration: none;
                                    display: flex;
                                    justify-content: center;
                                    padding-bottom: 90px;
                                    color:white;
                                        }
                                        .action{
                                            background-color: #f9fbf2;
                                            width: 21.2em;
                                            height: 1em;
                                            margin-left: 30px;
                                            margin-bottom : 200px;
                                           padding-bottom: 50px;
                                            border-radius: 30px;
                                            
                                          
                                           
                                            
                                    
                                        }
                                        .image6 img { 
                                            width: 100%;
                                            border-radius:30px;
                                        
                                            }
                                            .actioncat a{
                                                text-decoration: none;
                                                display: flex;
                                                justify-content: center;
                                                padding-bottom: 90px;
                                                color:white;
                                                    }
                                                    .posterit{
                                                       
                                                        width: 40%;
                                                        border-radius:30px;
                                                        margin-left: 80%;
          
                                                        
                                                    }
                                                    .postersiccin2{
                                                        width: 40%;
                                                        border-radius:30px;
                                                        margin-left: 70%;
                                                    }
                                                    .postersiccin3{
                                                         width: 20%;
                                                        border-radius:30px;
                                                        margin-left: 60%;
                                                    }
                                                    
                                        
                                                    
                                    
