body{
    background-color: lightslategray;
}

.start{
    background-color:black;
width:100% ;
color: red;
padding: 25px 0px;
text-align: center;
letter-spacing: 1.5px;
text-transform: uppercase;
}

.icons{
    color:blue;
font-size: 1.7em;
float:right;
padding:5px;
border: 3px solid black;
display: flex;
flex-direction: column;
background-color: wheat;
}

.wsan{
    letter-spacing: 1.5px;
    font-style: italic;
    font-weight: 900;
    font-size: 2em;
    padding-left: 20px;
}

.SA{
    letter-spacing: 1.5px;
    font-size: 1.5em;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 900;
    width: 100%;
    padding-left:20px ;
}

.descript{
    letter-spacing: 1.5px;
    font-size: 1.3em;
    font-weight: bold;
    display: inline-block;
    background-color:beige ;
    border: 3px solid grey;
    padding: 5px;
    font-style: italic;
}

.vid{padding: 30px 100px;}

.pad{padding-left: 20px;
}

a{color:#06c;}

a:hover{color: red;}

.end{padding: 25px 0px;
text-align: center;
background-color: black;
color: blue;
}

.foot{color: red;}

.line{border-color: white;
margin-bottom: 25px;
margin-top: 25px;
border-style: inset;
border-width: 1px;
unicode-bidi: isolate;
}
